#footer_container {
  margin-top: 0%;
}
body {
  margin: 0%;
}
#about > div {
  font-size: large;
  color: #333333;
  text-align: left;
}
#about > div:nth-child(1) {
  grid-area: a;
  border: 0.2px solid transparent;
}
#about > div:nth-child(2) {
  grid-area: b;
  border: 0.2px solid transparent;
}
#about > div:nth-child(3) {
  grid-area: c;
  border: 0.2px solid transparent;
}
#about > div:nth-child(4) {
  grid-area: d;
  border: 0.2px solid transparent;
}
#about {
  display: grid;
  width: 99.8%;
  grid-template-columns: repeat(11, 1fr);
  grid-template-areas: ". . a . b . c . d . .";
  background-color: #f2f2f2;
  padding: 2% 0%;
  border: 0.2px solid transparent;
}
#follow {
  width: 250px;
  text-align: center;
  border: 0.2px solid transparent;
}
#Icons {
  height: 30px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  border: 0.2px solid transparent;
}
#Icons > i {
  background-color: #e6e6e6;
}
#Icons > i :hover {
  cursor: pointer;
  color: none;
}
#rights {
  height: 130px;
  width: 99.8%;
  border: 0.2px solid transparent;
  background-color: #e6e6e6;
}
#first_rights {
  font-size: large;
  text-align: center;
  margin-top: 0.2%;
  border: 0.1px solid transparent;
}
#second_rights {
  width: 80%;
  margin: auto;
  margin-top: 2%;
  font-size: large;
  text-align: center;
  border: 0.1px solid transparent;
}
#second_rights > div {
  font-size: small;
  margin-top: 0.7%;
}
.padding > div {
  padding: 2%;
  width: 200px;
  border: 0.2px solid transparent;
}
.padding > div:hover {
  color: #333389;
  text-decoration: underline;
  cursor: pointer;
}
.colorclass {
  color: #fe637b;
}
@media only screen and (min-width: 0px) and (max-width: 391px) {
  #rights {
    height: fit-content;
  }
  #second_rights {
    width: 90%;
    text-align: left;
    line-height: 20px;
  }
  #first_rights {
    font-size: medium;
  }
  #about {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 200px 200px 100px 200px;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d";
    background-color: #f2f2f2;
    margin-top: 275%;
    border: 0.2px solid transparent;
  }
  #about > div:nth-child(1) {
    margin: auto;
    margin-left: 30%;
    text-align: center;
    border: 0.2px solid transparent;
  }
  #about > div:nth-child(2) {
    margin: auto;
    margin-left: 30%;
    text-align: center;
    border: 0.2px solid transparent;
  }
  #about > div:nth-child(3) {
    margin: auto;
    margin-left: 20%;
    border: 0.2px solid transparent;
  }
  #about > div:nth-child(4) {
    margin: auto;
    margin-left: 30%;
    text-align: center;
    border: 0.2px solid transparent;
  }
  #Spacing {
    height: 280px;
    margin-top: 2%;
    border: 1px solid transparent;
  }
}
@media only screen and (min-width: 391px) and (max-width: 768px) {
  #about {
    width: 98%;
    font-size: medium;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: ". a . b . c . d .";
    background-color: #f2f2f2;
    padding: 2% 0%;
    margin-top: 165%;
    border: 0.2px solid transparent;
  }
  #about > div:nth-child(1) {
    grid-area: a;
    padding: 0%;
    font-size: medium;
    border: 0.2px solid transparent;
  }
  #about > div:nth-child(2) {
    grid-area: b;
    width: 90%;
    font-size: medium;
    border: 0.2px solid transparent;
  }
  #about > div:nth-child(3) {
    grid-area: c;
    width: 90%;
    font-size: medium;
    border: 0.2px solid transparent;
  }
  #about > div:nth-child(4) {
    grid-area: d;
    width: 72%;
    font-size: medium;
    border: 0.2px solid transparent;
  }
  #follow {
    width: 200px;
    text-align: center;
    border: 0.2px solid transparent;
  }
  #Icons {
    height: 30px;
    width: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 0.2px solid transparent;
  }
  body {
    width: auto;
  }
  #Icons > i {
    background-color: #e6e6e6;
  }
  #rights {
    width: 99%;
  }
  #Spacing {
    height: 420px;
    margin-top: 2%;
    border: 1px solid transparent;
  }
}
