#D_container {
  display: grid;
  grid-template-columns: 70% 30%;
  width: 75%;
  grid-gap: 1%;
  font-family: sans-serif;
  line-height: 30px;
  color: #424242;
  margin: auto;
}

#D_path p {
  color: #fe5c75;
}

#D_1_p span:hover {
  color: #337ab7;
  cursor: pointer;
}

#D_5p #D_proTip {
  color: #424242;
  font-weight: bold;
}

#D_5p span:hover {
  color: #337ab7;
  cursor: pointer;
}

#D_read2 span:hover {
  color: #337ab7;
  cursor: pointer;
}

#D_recomendedArt li:hover {
  color: #337ab7;
  cursor: pointer;
}

#D_path span:hover {
  color: #337ab7;
  cursor: pointer;
}

#D_container p,
li {
  font-size: 18px;
  font-weight: 400;
}

#D_date {
  color: gray;
}

#D_read span {
  color: #fe5c75;
  font-weight: bold;
}

#D_read span:hover {
  color: #337ab7;
  cursor: pointer;
}
span {
  color: #fe5c75;
}

#D_read2 span {
  color: #fe5c75;
  font-weight: bold;
}

#D_li3 li {
  color: #fe5c75;
  font-weight: 600;
}

.D_mp {
  display: flex;
  border: 1px solid grey;
  margin: 2% 0 2% 0;
  border-radius: 3%;
  line-height: 17px;
  color: #337ab7;
  font-size: 16px;
  font-weight: 700;
}

.D_mp h5 {
  margin: 2% 0% 0% 2%;
}

div a {
  color: #fe5c75;
  text-decoration: none;
}

div a:hover {
  color: #337ab7;
  cursor: pointer;
}

#D_right :hover {
  text-decoration: underline;
  cursor: pointer;
}

.at:hover {
  text-decoration: underline;
  color: #337ab7;
  cursor: pointer;
}

#D_right {
  height: fit-content;
}

#D_read {
  display: flex;
  justify-content: flex-end;
  margin-right: 7%;
}

#D_read2 {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (min-width: 0px) and (max-width: 390px) {
  #D_container {
    grid-template-columns: repeat(1, 100%);
    width: 90%;
  }

  #D_left img {
    width: 100%;
  }

  #D_right h5 {
    font-size: 16px;
  }
}

@media only screen and (min-width: 391px) and (max-width: 768px) {
  #D_container {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }

  #D_left img {
    width: 100%;
  }

  #D_right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2%;
  }
}
