#k_container {
  font-size: 31px;
  margin: 10px 50px 20px;
  font-weight: 300;
  line-height: 37.8px;
  font-family: "Poppins, Poppins-Hindi, sans-serif";
  color: rgb(51, 51, 51);
}

p {
  font-size: 22px;
  line-height: 30px;
}
li {
  font-size: 18px;
}
h4,
h3 {
  color: rgb(254, 92, 116);
}

@media only screen and (min-width: 0px) and (max-width: 391px) {
  p {
    font-size: 18px;
    line-height: 25px;
  }

  h4,
  h3,
  h2 {
    font-size: 22px;
  }
}

@media only screen and (min-width: 391px) and (max-width: 769px) {
  p {
    font-size: 18px;
    line-height: 25px;
  }
  h2,
  h4,
  h3 {
    font-size: 27px;
  }
}
